= form_with(model: [ @listing, @listing.offers.build ], local: true) do |form| 
  %p
    = form.label :name
    %br/
    = form.text_field :name
  %p
    = form.label :email
    %br/
    = form.text_field :email
  %p
    = form.label :location
    %br/
    = form.text_area :location
  %p
    = form.label :price
    %br/
    = form.number_field :price
  %p
    = form.submit "Create offer"
    