%h1 Listings#index
- @listings.each do |listing|
  .listing{id: dom_id(listing)}
    %p= listing.pet_name
    %p= listing.pet_location
    %p= listing.pet_description
    %p= listing.start_date
    %p= listing.end_date
    %p= listing.pet_picture
    %p= link_to "Show listing", listing_path(listing)
