.listing_container
  %h1.catbnb Listings
  - @listings.each do |listing|
    .listing_item
      .listing_image{ :style => "background: url('#{listing.pet_picture}') no-repeat center top; background-size:cover;" }
      .listing_content 
        .listing_text
          %p.listing_pet_name #{listing.pet_name}, #{listing.pet_location}
          %p.listing_fields #{listing.pet_description}
          %p.listing_fields #{listing.start_date} - #{listing.end_date}
        .button_div
          %button.listing_button #{link_to 'Make an offer', listing_path(listing)}