%h1 Listings#index
- @listings.each do |listing|
  .listing{id: dom_id(listing)}
    %p= listing.pet_name
    %p= listing.pet_location
    %p= listing.pet_description
    %p= listing.start_date
    %p= listing.end_date
    %p= listing.pet_picture
<<<<<<< HEAD
    %p= link_to "Show listing", listing_path(listing)
=======
    = link_to 'Make an offer', listing_path(listing)
>>>>>>> 92fb5218c9311261e757e88e571e76fd5b20f7a8
