.listing_container
  %h1.catbnb Welcome!
  %h2 Here are some supernice cats you can host!

  - if user_signed_in? == false
    - @listings.each do |listing|
      .listing_item{id: dom_id(listing)}
        .listing_image{ :style => "background: url('#{listing.pet_picture}') no-repeat center top; background-size:cover;" }
        .listing_content 
          .listing_text
            %p.listing_pet_name #{listing.pet_name}, #{listing.pet_location}
            %p.listing_fields #{listing.pet_description}
            %p.listing_fields #{listing.start_date} - #{listing.end_date}
          .button_div
            %p.listing_button= link_to "Show listing", listing_path(listing)

  - elsif user_signed_in? == true && current_user.profile.nil? == true
    - @listings.each do |listing|
      .listing_item{id: dom_id(listing)}
        .listing_image{ :style => "background: url('#{listing.pet_picture}') no-repeat center top; background-size:cover;" }
        .listing_content 
          .listing_text
            %p.listing_pet_name #{listing.pet_name}, #{listing.pet_location}
            %p.listing_fields #{listing.pet_description}
            %p.listing_fields #{listing.start_date} - #{listing.end_date}
          .button_div
            %p.listing_button= link_to "Show listing", listing_path(listing)

  - elsif user_signed_in? && current_user.profile.nil? == false
    - @listings.each do |listing|
      .listing_item{id: dom_id(listing)}
        .listing_image{ :style => "background: url('#{listing.pet_picture}') no-repeat center top; background-size:cover;" }
        .listing_content 
          .listing_text
            %p.listing_pet_name #{listing.pet_name}, #{listing.pet_location}
            %p.listing_fields #{listing.pet_description}
            %p.listing_fields #{listing.start_date} - #{listing.end_date}
          .button_div
            %p.listing_button= link_to 'Make an offer', listing_path(listing)
            %p.listing_button= link_to "Show listing", listing_path(listing)
