%h1= @listing.pet_name
%p=@listing.pet_picture
%p=@listing.pet_location
%p=@listing.pet_description
%p Dates: #{@listing.start_date} to #{@listing.end_date}

%h2 Offers
- if @listing.offers.any?
  - @listing.offers.each do |offer|
    .offer{id: dom_id(offer)}
      %p= offer.name
      %p= offer.email
      %p= offer.location
      %p #{offer.price} kr
      %p= link_to "Accept offer", "#"
- else
  .message There are no offers on this listing


- if current_user.profile.nil? == false
  %h2 Create your offer
  = form_with(model: [ @listing, @listing.offers.build ], local: true) do |form| 
    %p
      = form.label :name
      %br/
      = form.text_field :name
    %p
      = form.label :email
      %br/
      = form.text_field :email
    %p
      = form.label :location
      %br/
      = form.text_area :location
    %p
      = form.label :price
      %br/
      = form.number_field :price
    %p
      = form.submit "Create offer"     

- else
  .message You must Become a Host before you can place offers on a cat
  
