%h1= @listing.pet_name
<<<<<<< HEAD
%p=@listing.pet_picture
%p Dates: #{@listing.start_date} to #{@listing.end_date}

%h2 Offers
- if @listing.offers.any?
  - @listing.offers.each do |offer|
    .offer{id: dom_id(offer)}
      %p= offer.name
      %p= offer.email
      %p= offer.location
      %p #{offer.price} kr
      %p= link_to "Accept offer", "#"
- else
  .message There are no offers on this listing
=======
%p=@listing.pet_location
%p=@listing.pet_description
%p Dates: #{@listing.start_date} to #{@listing.end_date}
%p=@listing.pet_picture

%h2 Create your offer
= form_with(model: [ @listing, @listing.offers.build ], local: true) do |form| 
  %p
    = form.label :name
    %br/
    = form.text_field :name
  %p
    = form.label :email
    %br/
    = form.text_field :email
  %p
    = form.label :location
    %br/
    = form.text_area :location
  %p
    = form.label :price
    %br/
    = form.number_field :price
  %p
    = form.submit "Create offer"
>>>>>>> 92fb5218c9311261e757e88e571e76fd5b20f7a8
