%h1= @listing.pet_name
%p Dates: #{@listing.start_date} - #{@listing.end_date}

- @listing.offers.each do |offer|
  .offer{id: dom_id(offer)}
    %p= offer.name
    %p= offer.email
    %p= offer.location
    %p #{offer.price} kr
    %button= link_to "Accept offer", "#"