= form_with model: @profile, local: true do |form|
  %p
    = form.label :name
    %br/
    = form.text_field :name
  %p
    = form.label :location
    %br/
    = form.text_field :location
  %p
    = form.label :description
    %br/
    = form.text_area :description  
  %p
    = form.label :price_kr_per_day
    %br/
    = form.number_field :price
  %p
    = form.label :picture
    %br/
    = form.url_field :picture
  %p
    = form.submit "Create Profile"
