- if user_signed_in? && current_user.profile.nil? == false
  = link_to "New listing", new_listing_path
  = link_to "Log out", destroy_user_session_path, method: :delete

- elsif user_signed_in?
  = link_to "Become a host", new_profile_path
  = link_to "New listing", new_listing_path
  = link_to "Log out", destroy_user_session_path, method: :delete

- else
  %nav{:class => "flex items-center justify-between flex-wrap bg-red-light p-6"}
    %div{:class => "flex items-center flex-no-shrink text-white mr-6"}
    = image_tag "Cat_Logo_Navbar.png", alt: "cat_image_logo", height: "54", width: "54", class: "fill-current h-8 w-8 mr-2", viewBox: "0 0 54 54"
    %span{:class => "font-semibold text-xl tracking-tight"} BnB
    %div{:class => "w-full block flex-grow lg:flex lg:items-center lg:w-auto"}
      %div{:class => "text-sm lg:flex-grow"}
      = link_to "Become a host", new_user_session_path, class: "block mt-4 lg:inline-block lg:mt-0 text-teal hover:text-white mr-4"
      

    
    
    
= link_to "New listing", new_user_session_path
= link_to "Sign up", new_user_registration_path
= link_to "Log in", new_user_session_path


      